<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pra_Node.js</title>
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header.ejs'); %>
    <h1>Delete <%- locals.userInfo.name %> ?</h1>
    <div class="btm">
        <a class="changepage underline" href="/complete_delete">Delete!</a>
    </div>
    <div class="btm">
      <a class="changepage underline" href="/">Cancel!</a>
    </div>
    <%- include('footer.ejs'); %>
  </body>
</html>