<header>
    <div>
        <p class="title">Pra_Node.js</p>
        <p class="username"><%= locals.userName %>, Welcome!</p>
        <ul>
            <li>
                <a href="/login">ログイン</a>
                <a href="/logout">ログアウト</a>
            </li>
        </ul>
        
        
    </div>
    
  </header>