<header>
    <div>
        <p class="title"><a class="toplink" href="/">Pra_Node.js</a></p>
        <p class="username"><%= locals.userName %>, Welcome!</p>
        <ul>
            <li class="login">
                <% if( locals.isLogin ){ %>
                    <a class="underline" href="/logout">Logout</a>
                <% } else { %>
                    <a class="underline" href="/login">Login</a>
                <% } %>
            </li>
        </ul>
        
        
    </div>
    
  </header>