<header>
    <div>
        <p class="title"><a class="toplink toplinkheader" href="/">Pra_Node.js</a></p>
        <% if(locals.userName === "Guest"){ %>
            <p class="username"><a class="toplink" href="/login"><%= locals.userName %></a>, Welcome!</p>
        <% } else { %>
            <p class="username"><a class="toplink" href="/mypage"><%= locals.userName %></a>, Welcome!</p>            
        <% } %>        
        <ul>
            <li class="login">
                <% if( locals.isLogin ){ %>
                    <a class="underline" href="/logout">Logout</a>
                <% } else { %>
                    <a class="underline" href="/login">Login</a>
                <% } %>
            </li>
        </ul>
        
        
    </div>
    
  </header>