<header>
    <div>
        <p class="title">Pra_Node.js</p>
        <p class="username"><%= locals.userName %>, Welcome!</p>
        <ul>
            <li class="login">
                <% if( locals.isLogin ){ %>
                    <a href="/logout">ログアウト</a>
                <% } else { %>
                    <a href="/login">ログイン</a>
                <% } %>
            </li>
        </ul>
        
        
    </div>
    
  </header>