<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Hello World</title>
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header.ejs'); %>
    <h1>Welcome to Top page!</h1>
    <% var test = "This is top page" %>
    <%= test %>
  <div class="btm">
    <a class="changepage" href="/second/<%= '2' %>">Go To Second page!</a>
  </div>
  </body>
</html>