<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Hello World</title>
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header.ejs'); %>
    <h1>Welcome to Second page!</h1>
    <p>itemId = <%= itemId %></p>
    <p>Registered Users</p>
    <ul class="userlist">
      <% usersInfo.forEach((userInfo =>{ %>
        <li>
          <%= userInfo.name + "," + userInfo.id %>
        </li>
      <% })); %>
    </ul>
    <div class="btm">
      <a class="changepage underline" href="/">Go To Top page!</a>
    </div>
    <%- include('footer.ejs'); %>
  </body>
</html>