<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <script src="/send_url.js"></script>
  </head>
  <body>
    <h1>Welcome to Second page!</h1>
    <%= itemId %>
  <div>
    <a href="/">Go To Top page!</a>
  </div>
  </body>
</html>