<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pra_Node.js</title>
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header.ejs'); %>
    <h1>Welcome to Sing up page!</h1>
    
    <form action="/singup" method="post">
        <p>name</p>
        <input type="text" name="username">
        <p>e-mail</p>
        <input type="text" name="email">
        <p>password</p>
        <input type="password" name="password">
        <div>
            <input type="submit" value="Singup">
        </div>
    </form>

    <div class="btm">
        <a class="changepage underline" href="/">Top page</a>
    </div>
    <%- include('footer.ejs'); %>

    
  </body>
</html>