<% fruits.forEach((fruit) =>{ %>
    <p><%= fruit.id %> : <%= fruit.name %></p>
<% }) %>

<form action="/delete_fruits" method="post">
    <% fruits.forEach((fruit) =>{ %>
        <p>
            <input type="checkbox" name="fruits" value=<%= fruit.name %>> <%= fruit.name %>
        </p>
    <% }) %>
    <input type="submit" value="Delete">
</form>

<div class="btm">
    <a class="changepage underline" href="/">Top page!</a>
</div>