* {
    margin: 0;
    padding: 0;
}

h1{
    color: red;
}

header div{
    background-color: dimgrey;
    color: white;
    opacity: 0.8;
    font-size: 25px;
    height: 50px;
}

header li{
    list-style: none;
}

header ul{
    float: right;
}

footer{
    background-color: dimgrey;
    color: white;
    opacity: 0.8;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer div{
    float: right;
    padding-right: 30px;
}

.title{
    float: left;
    padding-right: 200px;
    padding-top:5px;
}

.toplink:hover{
    text-decoration: underline;
}

.toplink{
    color: white;
    text-decoration: none;
    height: 45px;
    display: inline-block;
}

.username{
    float: left;
    padding-top: 5px;
}

.login{
    text-align: center;
    margin-right: 30px;   
    background-color: forestgreen;
}

.login:hover{
    background-color: rgb(28, 168, 28);
}

.login a{
    display: inline-block;
    width: 100px;
    height: 45px;
    color: white;
    margin-top: 5px;
}

.underline{
    text-decoration: none;
}

.underline:hover{
    text-decoration: underline;
}

.changepage{
    padding: 5px 0;
    background-color: forestgreen;
    opacity: 0.8;
    color: white;
}

.changepage:hover{
    background-color: rgb(28, 168, 28);
}

.userlist{
    list-style: disc;
    padding-left: 30px;
}

.btm{
    margin-top: 10px;
}