* {
    margin: 0;
    padding: 0;
}

h1{
    color: red;
}

header div{
    background-color: dimgrey;
    color: white;
    opacity: 0.8;
    font-size: 25px;
    height: 50px;
}

header li{
    list-style: none;
}

header ul{
    float: right;
}

.title{
    float: left;
    padding-right: 200px;
}

.toplink{
    color: white;
    text-decoration: none;
}

.username{
    float: left;
}

.login{
    text-align: center;
    margin-right: 30px;   
    background-color: forestgreen;
}

.login:hover{
    background-color: rgb(28, 168, 28);
}

.login a{
    display: inline-block;
    width: 100px;
    height: 50px;
    color: white;
}

.changepage{
    padding: 5px 0;
    background-color: forestgreen;
    opacity: 0.8;
    color: white;
}

.changepage:hover{
    background-color: rgb(28, 168, 28);
}